body {
    background: linear-gradient(#fff700 0%,#07f543 25%, #07f5f1 50%, #0228cf 75%, #f00707 100%);
    height: 100%;
    width: 100%;
}
div {
    margin-top: 15px;
}
.image-selection {
    display: flex;
    justify-content: center;
}
.selection-style {
    margin-left: 25px;
    margin-right: 25px;
    border: solid;
    border-color: white;
    border-width: 5px;
}
p {
    font-size: 30px;
}